In [15]:
import csv
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [16]:
#load data from csv file
data = pd.read_csv('stores.csv')

In [17]:
#display the data into dataframe
df = pd.DataFrame(data)
print(df)

                                         Id  StarbucksId  \
0      1f2d204f-e773-4361-9158-0008307dbd5e        10357
1      49455e22-49e9-461f-912c-00092386eaee         6557
2      1316ebf8-ee4a-479d-a11d-000964af367b      1010600
3      1b8b9007-4587-4942-bf29-000a0af78161      1014921
4      072752df-b30b-4f3f-a9b8-000ae32f8666        14667
...                                     ...          ...
25595  3d795b3d-5101-4bfa-8d4a-ffeac5ce30ad         1633
25596  3ce8d70e-2eaf-4200-b6af-fff401167436         6300
25597  f86b90e4-5423-4b6d-835f-fff87e08721c      1012298
25598  62375258-a9f2-44fb-b98e-fff9c35670e7      1012848
25599  e8fbdbbe-c086-44b7-a1b1-fffb38f17b1a        15585

                                 Name  BrandName   StoreNumber   PhoneNumber  \
0               Target Virginia T-847  Starbucks   76666-97597  218-741-6603
1                             PDX A 2  Starbucks  75916-104381  503-284-4008
2                   235 Bourke Street  Starbucks  25294-240419           NaN
3                      Oasis Al-Kharj  Starbucks  27350-247327           NaN
4              Target Trumbull T-1956  Starbucks   76306-93245  203-455-0102
...                               ...        ...           ...           ...
25595                           上海书城店  Starbucks   1396-140870  021-63914776
25596                         Bei Xin  Starbucks  31003-102685           NaN
25597  San Ramon Valley & Crow Canyon  Starbucks  25784-242224  925-421-5615
25598             Teavana - Hillcrest    Teavana  28652-250205  905-883-3832
25599    Crenshaw & Airport, Torrance  Starbucks    6849-79123  310-534-4835

      OwnershipType                           Street1         Street2  \
0                LS                    1001 13th St S             NaN
1                LS         7000 NE Airport Way, MB#3             NaN
2                LS                 235-251 Bourke St  Shops 5,6 & 10
3                LS                  King Abdullah Rd      Al Khuzama
4                LS                     120 Hawley Ln             NaN
...             ...                               ...             ...
25595            JV                               黄浦区            东侧商铺
25596            JV  No. 27, Minquan Rd, Xindian Dist              1F
25597            CO        2435 San Ramon Valley Blvd         Suite 7
25598            CO                    9350 Yonge St.      Unit H007B
25599            CO              25348 Crenshaw Blvd.             NaN

                   Street3  ... CountrySubdivisionCode CountryCode PostalCode  \
0                      NaN  ...                     MN          US  557923254
1                      NaN  ...                     OR          US  972181031
2                      NaN  ...                    VIC          AU       3000
3                      NaN  ...                     01          SA        NaN
4                      NaN  ...                     CT          US  066115347
...                    ...  ...                    ...         ...        ...
25595            福州路465号2楼  ...                     31          CN     200001
25596                  NaN  ...                    TPQ          TW        231
25597                  NaN  ...                     CA          US      94583
25598            Hillcrest  ...                     ON          CA    L4C 5G5
25599  Rolling Hills Plaza  ...                     CA          US  905056100

      Longitude  Latitude  TimezoneOffset                 TimezoneId  \
0        -92.55     47.51            -360      Central Standard Time
1       -122.59     45.59            -480      Pacific Standard Time
2        144.97    -37.81             660  AUS Eastern Standard Time
3         47.27     24.13             180         Arab Standard Time
4        -73.15     41.23            -300      Eastern Standard Time
...         ...       ...             ...                        ...
25595    121.48     31.23             480        China Standard Time
25596    121.54     24.98             480       Taipei Standard Time
25597   -121.98     37.77            -480      Pacific Standard Time
25598    -79.43     43.85            -300      Eastern Standard Time
25599   -118.33     33.79            -480      Pacific Standard Time

                     TimezoneOlsonId              FirstSeen  \
0          GMT-06:00 America/Chicago   12/8/2013 5:41:59 PM
1      GMT-08:00 America/Los_Angeles   12/8/2013 5:41:59 PM
2      GMT+10:00 Australia/Melbourne  10/8/2014 12:00:00 AM
3              GMT+03:00 Asia/Riyadh  6/21/2016 12:00:00 AM
4         GMT-05:00 America/New_York   12/8/2013 5:41:59 PM
...                              ...                    ...
25595         GMT+08:00 Asia/Beijing   12/8/2013 5:41:59 PM
25596          GMT+08:00 Asia/Taipei   12/8/2013 5:41:59 PM
25597  GMT-08:00 America/Los_Angeles  7/25/2015 12:00:00 AM
25598      GMT-05:00 America/Toronto  7/11/2015 12:00:00 AM
25599  GMT-08:00 America/Los_Angeles   12/8/2013 5:41:59 PM

                   LastSeen
0      2/3/2017 12:00:00 AM
1      2/3/2017 12:00:00 AM
2      2/3/2017 12:00:00 AM
3      2/3/2017 12:00:00 AM
4      2/3/2017 12:00:00 AM
...                     ...
25595  2/3/2017 12:00:00 AM
25596  2/3/2017 12:00:00 AM
25597  2/3/2017 12:00:00 AM
25598  2/3/2017 12:00:00 AM
25599  2/3/2017 12:00:00 AM

[25600 rows x 21 columns]

In [35]:
import os
import pandas as pd

def generate_sample_data(data, file_name, num_rows=10000):
    if not os.path.exists(file_name):
        df = data.sample(n=num_rows, random_state=1)
        df.to_csv(file_name, index=False)

generate_sample_data(data, 'sample_data.csv')

In [19]:
#features in dataset
print(df.columns)

Index(['Id', 'StarbucksId', 'Name', 'BrandName', 'StoreNumber', 'PhoneNumber',
       'OwnershipType', 'Street1', 'Street2', 'Street3', 'City',
       'CountrySubdivisionCode', 'CountryCode', 'PostalCode', 'Longitude',
       'Latitude', 'TimezoneOffset', 'TimezoneId', 'TimezoneOlsonId',
       'FirstSeen', 'LastSeen'],
      dtype='object')

In [20]:
def load_data():
    data = pd.read_csv("stores.csv")
    # data = data.drop(columns=['Id', 'Street1', 'Street2', 'Street3', 'PostalCode', 'PhoneNumber', 'FirstSeen', 'LastSeen'])
    print(data.head())
    return data

data = load_data()

                                     Id  StarbucksId                    Name  \
0  1f2d204f-e773-4361-9158-0008307dbd5e        10357   Target Virginia T-847
1  49455e22-49e9-461f-912c-00092386eaee         6557                 PDX A 2
2  1316ebf8-ee4a-479d-a11d-000964af367b      1010600       235 Bourke Street
3  1b8b9007-4587-4942-bf29-000a0af78161      1014921          Oasis Al-Kharj
4  072752df-b30b-4f3f-a9b8-000ae32f8666        14667  Target Trumbull T-1956

   BrandName   StoreNumber   PhoneNumber OwnershipType  \
0  Starbucks   76666-97597  218-741-6603            LS
1  Starbucks  75916-104381  503-284-4008            LS
2  Starbucks  25294-240419           NaN            LS
3  Starbucks  27350-247327           NaN            LS
4  Starbucks   76306-93245  203-455-0102            LS

                     Street1         Street2 Street3  ...  \
0             1001 13th St S             NaN     NaN  ...
1  7000 NE Airport Way, MB#3             NaN     NaN  ...
2          235-251 Bourke St  Shops 5,6 & 10     NaN  ...
3           King Abdullah Rd      Al Khuzama     NaN  ...
4              120 Hawley Ln             NaN     NaN  ...

  CountrySubdivisionCode CountryCode PostalCode Longitude  Latitude  \
0                     MN          US  557923254    -92.55     47.51
1                     OR          US  972181031   -122.59     45.59
2                    VIC          AU       3000    144.97    -37.81
3                     01          SA        NaN     47.27     24.13
4                     CT          US  066115347    -73.15     41.23

   TimezoneOffset                 TimezoneId                TimezoneOlsonId  \
0            -360      Central Standard Time      GMT-06:00 America/Chicago
1            -480      Pacific Standard Time  GMT-08:00 America/Los_Angeles
2             660  AUS Eastern Standard Time  GMT+10:00 Australia/Melbourne
3             180         Arab Standard Time          GMT+03:00 Asia/Riyadh
4            -300      Eastern Standard Time     GMT-05:00 America/New_York

               FirstSeen              LastSeen
0   12/8/2013 5:41:59 PM  2/3/2017 12:00:00 AM
1   12/8/2013 5:41:59 PM  2/3/2017 12:00:00 AM
2  10/8/2014 12:00:00 AM  2/3/2017 12:00:00 AM
3  6/21/2016 12:00:00 AM  2/3/2017 12:00:00 AM
4   12/8/2013 5:41:59 PM  2/3/2017 12:00:00 AM

[5 rows x 21 columns]

In [21]:
#count missing values in each column
print(data.isnull().sum())

Id                            0
StarbucksId                   0
Name                          0
BrandName                     0
StoreNumber                   0
PhoneNumber                6861
OwnershipType                 0
Street1                       4
Street2                   17176
Street3                   19868
City                         15
CountrySubdivisionCode        0
CountryCode                   0
PostalCode                 1522
Longitude                     1
Latitude                      1
TimezoneOffset                0
TimezoneId                    0
TimezoneOlsonId               0
FirstSeen                     0
LastSeen                      0
dtype: int64

In [22]:
#total number of City values
print(f"Total cities: {data['City'].count()}")

#total number of Longitude values
print(f"Total Longitude: {data['Longitude'].count()}")

#total number of Latitude values
print(f"Total Latitude: {data['Latitude'].count()}")

Total cities: 25585
Total Longitude: 25599
Total Latitude: 25599

In [23]:
#dropped 15 missing cities
data = data.dropna(subset=['City', 'Longitude', 'Latitude'])

In [24]:
#count missing values in each column
print(data.isnull().sum())

Id                            0
StarbucksId                   0
Name                          0
BrandName                     0
StoreNumber                   0
PhoneNumber                6860
OwnershipType                 0
Street1                       3
Street2                   17162
Street3                   19865
City                          0
CountrySubdivisionCode        0
CountryCode                   0
PostalCode                 1507
Longitude                     0
Latitude                      0
TimezoneOffset                0
TimezoneId                    0
TimezoneOlsonId               0
FirstSeen                     0
LastSeen                      0
dtype: int64

In [25]:
#list all unique values in BrandName column
print(data['BrandName'].unique())

['Starbucks' 'Teavana' 'Evolution Fresh' 'Coffee House Holdings']

In [26]:
#list all unique values in City column
print(data['City'].unique())

['Virginia' 'Portland' 'Melbourne' ... 'Seremban'
 'Municipio de Huixquilucan' 'Wright-Patterson AFB']

In [29]:
# Convert FirstSeen column to datetime
data['FirstSeen'] = pd.to_datetime(data['FirstSeen'], format='%m/%d/%Y %I:%M:%S %p')

# Extract year from FirstSeen column
data['FirstSeenYear'] = data['FirstSeen'].dt.year

# Determine the range of years
year_min = data['FirstSeenYear'].min()
year_max = data['FirstSeenYear'].max()


print(year_max)
print(year_min)

2017
2013

In [31]:
#Count the number of unique ownership types
print(data['OwnershipType'].unique())

['LS' 'CO' 'JV' 'FR']

def load_data():
    data = pd.read_csv("stores.csv")
    data = data.drop(columns=['Id', 'PostalCode', 'PhoneNumber'])
    data.dropna(subset=['Latitude', 'Longitude'], inplace=True)
    return data